<!DOCTYPE html>
<html lang="en">
<body>
<h1>Upload Image</h1>
<form action="http://localhost:3000/api/photo" method="POST" enctype="multipart/form-data">
    <input type="file" name="userPhoto"/>
    <input type="submit"/>
</form>
</body>
</html>
